@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    max-width: 100%;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

ul li {
    list-style: none;
}

button{
    cursor: pointer;
}

.wrapper{
   
   min-height: inherit;
   overflow: hidden;
   position: relative;
}

 .white{ 
     background: #F5F5F5;
     top: 0;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     transform: skew(-30deg)translateX(50%);
     z-index: -1;
   }


 .black{
    background: #333333;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-30deg) translateX(-50%);
    z-index: -1;
   
 }

 .flex-container{
    display: flex;
    min-height: inherit;
    max-width: inherit;
    justify-content: space-evenly;
    align-items: center;

 }
 
 .to-do-list__container{
    padding: 50px;
    padding-right: 33px;
    min-width: 510px;
    border-radius: 16px;
    min-height: 200px;
    max-height: 700px;
    overflow: overlay;
 }
 .bg-white{
    background: #F5F5F5 ;
    box-shadow: 1px 1px 0px #d0d0d0;
 }
 .bg-black{
    background:  #333333;
    box-shadow: 2px 1px 3px;
 }
 .to-do__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
 }
 .to-do__form{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    position: relative;
 }

 .input{
    background: #272727;
    padding-block: 18px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 16px;
    color: #d2d2d2;
    width: 90%;
    outline: none;
    border-radius: 999px;
 }
 .button-add{
    background: #4a4a4a;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    right: 0;
    padding: 18px;
    padding-inline: 31px;
    border-radius: 35px;

 }

 .list__item{
    position: relative;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    padding: 12px 8px 12px 40px;
    user-select:none;
    cursor: pointer;
 }

 .list__item::before{
   content: "";
   position: absolute;
   height: 25px;
   width: 25px;
   border-radius:4px;
   background-image:url("./icon/uncheck.png");
   background-size: cover;
   background-position: center;
   top: 10px;
   left: 0px;
   animation: all 0.6s line;
 }
 
 .delete{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
 }
   .text{
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      display: none;
   }

 .list__item.active{
    color: #1d1d1d;
    text-decoration: line-through;
 }
 
 .list__item.active::before{
    background-image:url("./icon/check.png");
    top: 8px;
    left: -2px;
    height: 30px;
    width: 30px;
  }
  