@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  min-height: 100vh;
  font-family: "Comfortaa", cursive;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrapper {
  min-height: inherit;
  position: relative;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    306deg,
    rgb(32, 32, 32) 53%,
    rgba(255, 255, 255, 1) 53%
  );
}

.flex-container {
  display: flex;
  min-height: inherit;
  max-width: inherit;
  justify-content: space-evenly;
  align-items: center;
}

.to-do-list__container {
  padding: 50px;
  padding-right: 33px;
  max-width: 550px;
  min-width: 450px;
  border-radius: 16px;
  min-height: 200px;
  max-height: 700px;
  overflow: overlay;
}
.bg-white {
  background: #f5f5f5;
  box-shadow: 1px 1px 15px #4b4b4b7d;
}

.to-do__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}
.to-do__form {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  position: relative;
}

.input {
  background: #272727;
  padding-block: 18px;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 16px;
  color: #d2d2d2;
  width: 90%;
  outline: none;
  border-radius: 999px;
}
.input::placeholder {
  color: #c5c5c5;
}
.button-add {
  background: #4a4a4a;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  right: 0;
  padding: 18px;
  padding-inline: 31px;
  border-radius: 35px;
}

.list__item {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  padding: 12px 25px 12px 40px;
  user-select: none;
  cursor: pointer;
  word-wrap: break-word;
}

.list__item::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-image: url("../icon/uncheck.png");
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 0px;
  animation: all 0.6s line;
}

.delete {
  position: absolute;
  background: url("../icon/trash.png") no-repeat center;
  background-color: none;
  outline: none;
  height: 25px;
  width: 25px;
  right: 0;
  top: 23%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.text {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: none;
}

.list__item.active {
  color: #1d1d1d;
  text-decoration: line-through;
}

.list__item.active::before {
  background-image: url("../icon/check.png");
  top: 8px;
  left: -2px;
  height: 30px;
  width: 30px;
}
